<div class="homepage-container desktop">
    <app-navigation></app-navigation>
    <app-banner></app-banner>
    <app-draw-info [drawInfo]="drawInfo"></app-draw-info>
    <app-recent-draws [recentDraws]="recentDrawsInfo" [title]="'RECENT DRAWS'"></app-recent-draws>
    <app-how-it-works></app-how-it-works>
    <app-footer></app-footer>
</div>
<div class="homepage-container mobile">
    <app-navigation></app-navigation>
    <app-banner></app-banner>
    <app-draw-info [drawInfo]="drawInfo"></app-draw-info>
    <app-recent-draws [recentDraws]="recentDrawsInfo" [title]="'RECENT DRAWS'"></app-recent-draws>
    <app-how-it-works></app-how-it-works>
    <app-footer></app-footer>
</div>