<div class="how-it-works-container">
    <div class="title">HOW DOES LOTTERY IT WORK?</div>
    <div class="box-container">
        <div class="box">
            <img class="icon" src="/assets/icons/crypto-wallet.png">
            <div class="text">Connect to your wallet.</div>
        </div>
        <div class="box">
            <img class="icon" src="/assets/icons/play.png">
            <div class="text">Press the play now button or go to the Raffle page.</div>
        </div>
        <div class="box">
            <img class="icon" src="/assets/icons/btc.png">
            <div class="text">Place the bet in the Solana cryptocurrency.</div>
        </div>
        <div class="box">
            <img class="icon" src="/assets/icons/hourglass.png">
            <div class="text">Waiting for the lotto draw to finish.</div>
        </div>
    </div>
</div>